@use "@styles/color";
@use "@styles/font";
@use "@styles/space";
@use "@styles/breakpoint";
@use "@styles/misc";

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  gap: 1.5rem;
  background: var(--gray-40, #f9fafb);

  @media screen and (min-width: breakpoint.$desktop) {
    // position: fixed;
    // bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: misc.$footer-height-desktop;
    padding: space.$s6 0;
  }
}

.version {
  font: font.$text-md-regular;
  color: color.$gray-400;
  margin: 0;

  @media screen and (min-width: breakpoint.$desktop) {
    order: 0;
  }
}

.nav {
  ul {
    display: flex;
    justify-content: center;
    gap: 1.55rem;
    list-style-type: none;
    padding-left: 0;
    margin: 1;
  }

  li a {
    font: font.$text-md-semibold;
    color: color.$gray-500;
    text-decoration: none;
  }

  @media screen and (min-width: breakpoint.$desktop) {
    order: 1;
  }
}

.logo {
  width: 1.438rem;

  @media screen and (min-width: breakpoint.$desktop) {
    order: 3;
  }
}
