@use "@styles/color";
@use "@styles/font";
@use "@styles/space";

.button {
  cursor: pointer;

  img {
    width: 50vw;
    height: 50vh;
    object-fit: cover; /* or object-fit: contain; depending on your preference */
    border-radius: inherit; /* inherit the button's border-radius for consistency */
  }

  /* remove default button styles */
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  appearance: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.container {
  width: fit-content;
  display: flex;
  align-items: center;
  border-radius: space.$s4;

  &.sm {
    padding: space.$s0 space.$s2;
    height: 1.375rem;
    font: font.$text-xs-medium;
  }

  &.md {
    padding: 0 0.625rem;
    height: 1.5rem;
    font: font.$text-sm-medium;
  }

  &.lg {
    padding: space.$s0 space.$s3;
    height: 1.75rem;
    font: font.$text-md-large;
  }

  &.xlg {
    padding: space.$s0 space.$s4;
    height: 1.95rem;
    font: font.$text-md-xlarge;
  }

  &.primary {
    color: #fff;
    background-color: color.$primary-600;
    border: 1px solid color.$primary-600;

    &:hover {
      background-color: color.$primary-700;
      border: 1px solid color.$primary-700;
    }

    &:focus {
      box-shadow: 0 0 0 4px color.$primary-100;
    }

    &:disabled {
      cursor: default;
      background-color: color.$primary-600;
      box-shadow: none;
      opacity: 0.2;
    }
  }

  &.secondary {
    color: color.$primary-700;
    background-color: color.$primary-50;
    border: 1px solid color.$primary-50;

    &:hover {
      background-color: color.$primary-100;
      border: 1px solid color.$primary-100;
    }

    &:focus {
      box-shadow: 0 0 0 4px color.$primary-100;
    }

    &:disabled {
      cursor: default;
      color: color.$primary-300;
      background-color: color.$primary-25;
      border: 1px solid color.$primary-25;
      box-shadow: none;
    }
  }

  &.gray {
    color: color.$gray-700;
    border: 1px solid color.$gray-300;
    background-color: #fff;

    &:hover {
      background-color: color.$gray-50;
      color: color.$gray-800;
    }

    &:focus {
      box-shadow: 0 0 0 4px color.$gray-100;
    }

    &:disabled {
      cursor: default;
      color: color.$gray-300;
      border: 1px solid color.$gray-200;
      box-shadow: none;
    }
  }

  &.empty {
    background-color: transparent;
    color: color.$primary-700;

    &:hover {
      background-color: color.$primary-50;
    }

    &:focus {
      color: color.$primary-700;
    }

    &:disabled {
      cursor: default;
      color: color.$gray-300;
      background-color: transparent;
    }
  }

  &.emptygray {
    color: color.$gray-500;
    background-color: transparent;

    &:hover {
      background-color: color.$gray-50;
      color: color.$gray-600;
    }

    &:focus {
      color: color.$gray-500;
    }

    &:disabled {
      cursor: default;
      color: color.$gray-300;
      background-color: transparent;
    }
  }


  &.nocolor {
    color: white; // Inherits the color from the parent
    background-color: transparent;
    border: none;
  }

  &.error {
    color: #fff;
    background-color: color.$error-600;
    border: 1px solid color.$error-600;

    &:hover {
      background-color: color.$error-700;
      border: 1px solid color.$error-700;
    }

    &:focus {
      box-shadow: 0 0 0 4px color.$error-100;
    }

    &:disabled {
      cursor: default;
      background-color: color.$error-200;
      border: 1px solid color.$error-200;
      box-shadow: none;
    }
  }

  &.emptyerror {
    background: color.$gray-0;
    color: color.$error-700;

    &:hover {
      background-color: color.$error-200;
      border: 1px solid color.$error-200;
    }

    &:focus {
      box-shadow: 0 0 0 4px color.$error-100;
    }

    &:disabled {
      cursor: default;
      background-color: color.$error-200;
      border: 1px solid color.$error-200;
      box-shadow: none;
    }
  }

  // Button Icon
  &.only {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &.leading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    img {
      max-width: 100%;
      max-height: 100%;
      order: -1;
    }
  }

  &.trailing {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    img {
      max-width: 100%;
      max-height: 100%;
      order: 1;
    }
  }
}
